.hero-container {
    background-image: url(../../assets/images/hero-image.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}

nav {
    padding: 0.5em;
}

#logo {
    width: 120px;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.desktop-nav-items {
    display: flex;
    align-items: center;
    padding: 0 5em;
    margin: 10px 0;
    list-style: none;
}

.nav-item {
    font-size: 1em;
    margin: 1em;
    color: var(--headingColor);
    font-weight: 400;
    text-decoration: none;
}

.nav-item:hover {
    color: var(--gold);
}

.hero-section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hero-message {
    font-size: 2.8rem;
    color: var(--black);
}

.primary-button-type {
    background-color: var(--primaryColor);
    color: var(--white);
    width: 250px;
    height: 45px;
    border-color: var(--primaryColor);
    border-radius: 10px;
    font-size: 1em;
}

.primary-button-type:hover {
    background-color: var(--secondaryColor);
}

.primary-button-type:focus {
    outline: transparent;
}

@media screen and (max-width: 480px){
    .desktop-nav-items {
        display: none;
    }

    .hero-container {
        background-image: url(../../assets/images/hero-image-mobile.png);
        height: 400px;
    }

    .hero-message {
        font-size: 2rem;
        text-align: center;
    }
}