.introduction {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 50px auto;
    justify-content: space-evenly;
}


.hero-quote {
    height: 200px;
    width: 390px;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    border-radius: 5px;
    border: 3px solid var(--primaryColor);
    box-shadow: -13px -8px 33px var(--boxShadowColor);
}

.intro-message {
    color: var(--white);
    font-size: 1.2rem;
    margin: 20px 30px;
    text-align: initial;
    font-weight: 400;
}

.quote-banner {
    border: 3px solid var(--primaryColor);
    height: 200px;
    width: 390px;
    text-align: center;
    display: flex;
    font-size: 15px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 90%;
    margin: 10px;
}

@font-face {
    font-family: cedarville;
    src: url(../../assets/fonts/CedarvilleCursive-Regular.ttf);
}

.quote-banner > p {
    color: var(--white);
    width: 20ch;
    font-family: cedarville;
    font-size: 1.1rem;
}

@media screen and (max-width: 480px){
    .introduction {
        flex-flow: column;
        margin: 20px auto;
    }

    .introduction-container {
        width: 100%;
    }

    #profile {
        box-shadow: none;
        margin: 10px;
    }

    .intro-message {
        font-size: 1em;
    }

    .hero-quote {
        width: 90%;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: none;
        margin: 0 auto;
    }
}