@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --primaryColor:#008080;
  --secondaryColor: #004040;
  --headingColor: #017e7e;
  --gold: #daa520;
  --white: #fffafa;
  --background: #121212;
  --black: #111111;
  --maroon: #400000;
  --red: 	#800000;
  --boxShadowColor: #0080808c;
  --grey: #222121;
  --paperBrown: #f8f3ed;
}

html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

body {
  margin: 0;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: inherit;
}

.section-name {
  color: var(--headingColor);
  margin: 1em;
  font-size: 2em;
  text-transform: uppercase;
}

.diary-page {
  background-color: var(--paperBrown);
  padding-top: 60px;

}

@media screen and (max-width: 480px) {
  body {
    margin-bottom: 60px;
  }

  .diary-page {
    padding-top: 30px;
  }
}

