:root {
  --primaryTeal: #004c4c;
  --secondaryTeal: #66b2b2;
  --headerTeal: #006666;
  --gold: #daa520;
  --white: #fffafa;
  --charcoalBlack: #242323;
  --black: #111111;

}

html {
    background-color: var(--charcoalBlack);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

body {
  margin: 0;
}