:root {
  --primaryColor:#008080;
  --secondaryColor: #004040;
  --headingColor: #017e7e;
  --gold: #daa520;
  --white: #fffafa;
  --background: #121212;
  --black: #111111;
  --maroon: #400000;
  --red: 	#800000;
  --boxShadowColor: #0080808c;
  --grey: #222121;
}

html {
    background-color: var(--background);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

body {
  margin: 0;
}

.section-name {
  color: var(--headingColor);
  margin: 1em;
  font-size: 2em;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  body {
    margin-bottom: 60px;
  }
}