.diary-header {
    padding: 30px 100px;
    padding-bottom: 0;
    position: fixed;
    background-color: var(--paperBrown);
    width: 100vw;
    top: 0;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--primaryColor);
}

hr {
    width: 50%;
    text-align: left;
    margin-left: 0;
    border-color: var(--primaryColor);
}

.main-header {
    width: 80%;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links > svg {
    width: 30;
}

.diary-nav-item {
    margin: 0 20px;
    width: 30px;
    font-size: 1.5em;
    color: var(--primaryColor);
}

.diary-nav-item:hover {
    color: var(--gold);
}

@media screen and (max-width: 480px) {
    .diary-header {
        padding: 10px 0;
        padding-bottom: 0;
    }

    hr {
        width: 100%;
    }

    h3 {
        font-size: 1em;
    }

    .diary-nav-item {
        font-size: 1em;
        width: 20px;
        display: flex;
        margin: 0 10px;
    }
}