@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.diary-body {
    font-family: 'Special Elite', monospace;
    line-height: 28px;
    padding: 30px 200px;
    padding-top: 10px;
}

h5 {
    font-size: 1.3em;
    margin: 20px 0;
}

h2 {
    width: 20ch;
    max-width: 100%;
    font-size: 2.5em;
    display: flex;
    word-break: break-word;
    flex-flow: nowrap;
    text-transform: uppercase;
    line-height: 50px;
}

ol > li {
    color: var(--black);
}

.header-img {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .diary-body {
        padding: 0 50px;
    }

    h2 {
        font-size: 1.5em;
        line-height: 30px;
    }

    h5 {
        font-size: 1em;
    }
}