.diary-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.diary-topics-section {
    height: 100vh;
    margin-top: 5rem;
}

@media screen and (max-width: 480px) {
    .diary-topics-section {
        margin-top: 2rem;
    }
}