footer, .diary-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primaryColor);
}

.nav {
    flex-flow: row;
    margin: 0;
}

.diary-footer {
    display: none;
}

.footer-profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.footer-icon {
    margin: 5px 10px;
    color: var(--white);
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

.footer-icon:hover {
    color: var(--gold);
}


@media screen and (max-width: 480px) {
    footer {
        flex-flow: column;
        display: none;
    }

    .diary-footer {
        display: flex;
    }

    ul {
        padding: 0 30px;
        margin: 2px;
        font-size: 12px;
    }
}